<!DOCTYPE html>
<html xmlsn:th="https://www.thymeleaf.org/">

<head>
    <meta charset="utf-8">
    <title>Spring Web</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">GESTION COMPRAS |</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href=@{/clientes}>CLIENTES</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href=@{/clientes/nuevo}>NUEVO CLIENTES |</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href=@{/productos}>PRODUCTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href=@{/productos/nuevo}>NUEVO PRODUCTOS |</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" th:href=@{/ventas}>VENTAS</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container mt-3 rounded"><br>

        <div class="text-center"><br>
            <h2>EDITAR CLIENTE</h2><br><br>
        </div>


        <form th:action="@{/clientes/editar/{id}(id=${clienteKey.id})}" method="POST" class="mx-auto" th:object="${clienteKey}" style=" background-color: white;
                                                                                                        -webkit-box-shadow: 0 0 10px #d0cfcf;
                                                                                                        box-shadow: 0 0 30px #c2c2c2;
                                                                                                        border-radius: 10px;
                                                                                                        padding-left: 0 !important;
                                                                                                        width: 50%;">
            <div class="form-group w-50 mx-auto">
                <label class="mt-5" for="nombre">Nombre:</label>
                <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}">
            </div> <br>

            <div class="form-group w-50 mx-auto">
                <label for="apellido">Apellidos:</label>
                <input type="text" class="form-control" id="apellido" name="apellido" th:field="*{apellido}">
            </div> <br>

            <div class="form-group w-50 mx-auto">
                <label for="Sexo">Sexo:</label>
                <input type="text" class="form-control" id="Sexo" name="Sexo" th:field="*{sexo}">
            </div> <br>

            <div class="form-group w-50 mx-auto">
                <label for="telefono">Telefono:</label>
                <input type="text" class="form-control" id="telefono" name="telefono" th:field="*{telefono}">
            </div> <br>

            <div class="text-center"><br>
                <button type="submit" class="btn btn-dark">Aceptar</button><br><br>
            </div>

        </form>
    </div>





</body>

</html>